body {
    margin: 0;
    padding: 0;
    background-color: tan;
}

.container {
    justify-content: center;
    align-content: center;
}

.checkerboard{
    height: 50vh;
    width: 25vw;
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-top: 10%;
    margin-left: 40%;
}

 .box {
  background: white;
 }

 .box2 {
    background: black;
 }